---
layout: default
title: "Enlaces de Interes - Ideal 10"
---

<section class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply">
    <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
            Enlaces de interés
        </h1>
        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">
            Señor usuario, a continuación encontrará enlaces y archivos de interés actualizados y vigentes a la fecha.
        </p>
    </div>
</section>

<div class="mx-11 mt-6 mb-4">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-2 py-3">
                        Acción
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for enlace in site.data.enlaces_de_interes %}
                    {% include enlace_de_interes.liquid title=enlace.title url=enlace.url %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
